.polje input:focus {
  background-color: var(--crvena);
}

.polje-obavezno label::after {
  content: "*";
  color: var(--svetlo-crvena);
}

.dugme:hover{
  cursor: pointer;
  transform: scale(1.5,1.5);
}
