:root {
  --zelena: #004225;
  --bela: white;
  --crvena: #fa7070;
  --svetlo-crvena: #f53d3d;
  --svetlo-zelena: #339989;
  --plava: #4585d9;
  --zuta: #e3cd64;
  --svetlo-plava: rgb(141, 253, 255);
  --ljubicasta: rgb(243, 129, 243);
}

* {
  margin: 0;
  font-family: "Noto Serif", serif;
}
