@import url("../boje.css");

.footer {
  background-color: var(--zelena);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: var(--bela);
  padding-bottom: 1rem;
}

#logo {
  height: 12vw;
  width: 12vw;
}

#naziv {
  margin-bottom: 1rem;
}

#adresa {
  margin-bottom: 1rem;
}

#telefon {
  margin-bottom: 1rem;
}

#email {
  margin-bottom: 1rem;
}

#pratiteNas {
  margin-bottom: 1rem;
}

.fa-facebook {
  cursor: pointer;
}

.fa-facebook:hover {
  color: #1877f2;
}

.fa-instagram {
  cursor: pointer;
}


.fa-instagram:hover {
  background-image: linear-gradient(#8a3ab9, #bc2a8d);
}
