@import url("./boje.css");

body {
  position: relative;
}

.header {
  display: flex;
  /* horiznotalno */
  justify-content: space-evenly;
  /* vertikalno */
  align-items: center;
  background-color: var(--zelena);
  width: 100%;
  top: 0;
  position: sticky;
  height: 10vw;
}

.header a {
  text-decoration: none;
  color: var(--bela);
}

#logoHeader {
  position: relative;
  height: 10vw;
  width: 10vw;
}

@media screen and (max-width: 500px) {
  .header a {
    display: none;
  }
}
