@import url("./boje.css");

body {
  background-color: var(--zuta);
  position: relative;
  margin-bottom: 5rem;
}

.header {
  background-image: url("../Slike/vino3.jpeg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--zelena);
  width: 100%;
  top: 0;
  position: sticky;
  height: 10vw;
}

.header a {
  text-decoration: none;
  color: var(--bela);
}

.header a:hover {
  color: var(--zelena);
}

#logoSlova {
  height: 10vw;
  width: 10vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.uvod {
  width: 75%;
  font-weight: bold;
  font-size: 1.2vw;
  text-align: center;
}

.informacije-container {
  background-color: var(--zelena);
  width: 75%;
  color: var(--bela);
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 2rem;
  height: 40vh;
}

.polje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fas {
  margin-bottom: 2.5rem;
}

.mapa {
  margin-top: 3rem;
}

.mapa p {
  font-weight: bold;
}

iframe {
  border-width: 1rem;
  border-color: var(--zelena);
  border-style: solid;
}
