@import url("../../boje.css");

.header {
  position: static;
}
.posetite-nas {
  padding-top: 5%;
  background-color: var(--zuta);
  padding-bottom: 5%;
}
.slika {
  width: 60%;
  height: 1%;
  margin-left: 20%;
}
.rezervacija {
  background-color: var(--svetlo-zelena);
  border: 3px solid var(--svetlo-crvena);
  border-radius: 20px;
  padding: 20px;
  width: 30%;
  margin-left: 35%;
}
.polje {
  margin: 15px;
}

.polje label {
  display: block;
}

.polje input {
  display: block;
  width: 100%;
}

.polje p {
  display: block;
}
.polje textarea {
  display: block;
}

.polje input:focus {
  background-color: var(--crvena);
}

.polje-obavezno label::after {
  content: "*";
  color: var(--svetlo-crvena);
}

.dugme:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}
