@import url("../boje.css");

main {
  width: 100%;
  background-color: var(--zuta);
  margin-top: 15vw;
  display: flex;
  justify-content: left;
  flex-direction: column; 
}
.slike {
  width: 100%;
  margin-top: 2vw;
  display: flex;
  justify-content: center;
}
#slika1 {
  height: 60%;
  width: 60%;
  justify-content: right;
  order: 2;
}

#slika2 {
  
  justify-content: left;
  height: 40%;
  width: 30%;
  padding-right: 1cm;
  
}
.o-nama {
  background-color: var(--zuta);
  height: 70%;
  width: 100%;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.slike2{
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  
}
#slika3{
  width: 40%;
 height: 40%;
 align-self: flex-start;
 padding: 2vw;

}
#slika4{
  width: 40%;
  height: 40%;
  padding: 2vw;
  align-items: flex-end;
}
#slika5 {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}