.footer{
  background-color: #004225;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;   
  margin-bottom: 0;
}

#logo{
  height: 12vw;
  width: 12vw;
  margin-top: 10pt;
  
}
#naziv{
  margin-top: 0;
  margin-bottom: 0.5cm;
}

#adresa{
  margin-bottom: 0.5cm;
}
#telefon{
  margin-bottom: 0.5cm;
}
#email{
  margin-bottom: 0.5cm;
}
#pratiteNas{
  margin-bottom: 0.2cm;
}

