@import url("../../boje.css");

main {
  width: 100%;
  display: flex;
}

.vino-container {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 100vh;
  cursor: pointer;
}

.zdrepceva {
  background-color: brown;
}

.kupinovo {
  background-color: purple;
}

.lederer {
  background-color: green;
}

.osam-tamburasa {
  background-color: blue;
}

.vino-container img {
  cursor: pointer;
}

.vino-opis {
  display: none;
}
