body{
    background-color: white;
}

.header{
    background-color: #004225;
    color: black;
    justify-content: center;
    text-align: center;
    top: 0;
    
    padding: 20px;
    width: 100%;
    right: 0;
}
#logoHeader{
    position: relative;
    bottom: 0;
    width: 15%;
    height: 10%;
}
.meni{
    text-align: center;
    margin: 0 20pt;
}
#pocetna{
    display: inline-block;
    margin: 0 20pt;
}
#ponuda{
    display: inline-block;
    margin: 0 20pt;
    
}
#posetite-nas{
    display: inline-block;
    margin: 0 20pt;
}
#kontakt{
    display: inline-block;
    margin: 0 20pt;
}
